:host {
  ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
    li {
      background-color: #41b4c9;
      border-radius: 10px;
      filter: drop-shadow(5px 5px 10px #b7de4d);
      transition: all 0.5s ease-out;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    li:hover {
      transform: translate(-5px, -5px);
    }
  }
}
