<img src="{{character.image}}" alt="Image of character">
<div class="cardInfo">
  <h4>{{character.name}}</h4>
  <div class="infoType">
    <span>{{character.species}}</span>
    <span>{{character.type}}</span>
    @if(character.gender === "Male") {
    <span>♂</span>
    } @else if(character.gender === "Female") {
    <span>♀︎</span>
    } @else if (character.gender === "Genderless"){
    <span>⚥</span>
    } @else {
    <span>?</span>
    }
  </div>
  <div class="infoPlace">
    <span>{{character.status}}</span>
    <p>{{character.origin.name}}</p>
    <p>{{character.location.name}}</p>
  </div>
</div>
<button ngAction="#">Edit</button>
