:host {
  width: 12rem;
  height: 20rem;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  img {
    height: 10rem;
    background-color: #bfde42;
    border: 1px solid #203745;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin: 0.5rem 0 1rem;
  }
  .cardInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 95%;
    h4 {
      font-weight: 600;
      border-bottom: 1px solid #203745;
      font-size: 1.5rem;
    }
    .infoType {
      display: flex;
      gap: 5px;
    }
    .infoPlace {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      span,
      p {
        font-style: italic;
      }
    }
  }
  button {
    position: absolute;
    bottom: -15px;
    left: 0;
    background-color: #203745;
    border: #41b4c9 solid 2px;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    margin: 10px 0;
    transition: all ease 0.5s;
  }
  button:hover {
    border: #bfde42 solid 2px;
  }
  button:active {
    background-color: #41b4c9;
    transform: translate(2px, 5px);
  }
}
