<table>
  <caption>
    Principal characters of R&M
  </caption>
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
      <th scope="col">Species</th>
      <th scope="col">Type</th>
      <th scope="col">Gender</th>
      <th scope="col">Origin</th>
      <th scope="col">Location</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th scope="row">A</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>

    </tr>
    <tr>
      <th scope="row">B</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

  </tbody>

</table>
