:host {
  font-family: "Roboto", sans-serif;
  .air-top {
    height: 7rem;
    background-image: url("../assets/background.png");
  }
  .main {
    background-image: url("../assets/background.png");
    object-fit: cover;
    section {
      background-image: url("../assets/background.png");
      background-position: 0 100%;
      height: 23rem;
      z-index: -1;
    }
  }
}
